.table
{
    align-self: center;
    margin: auto;
    justify-content: center;
    display: flex;   
}

.b1
{
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}

th {
  color: rgb(103, 138, 103);
  }

a{
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    color:rgb(0, 0, 0);
}  

h2{
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  