.tablee
{
    align-self: center;
    margin: auto;
    justify-content: center;
    display: flex;   
    border-collapse: collapse;
    text-align: center;
    border: none;
}
.b1
{
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(149, 110, 235);
    transition-duration: 0.5s;
}

th {
  background-color:#cbc8ff ;
  border-radius: 0.13em;
  }

a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}  

h2{
    text-align: center;
    margin: 3% auto;
}

th,td {
    border-collapse: collapse;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.);  
    border: none;
  }
  
body
{
    background-color:#ffffff;
    
}
*:not(h2){
    font-size:medium;
}
*{
    font-family:Tahoma;
}
.b1:hover
{
background-color: rgb(125, 98, 184) ;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }
table{
    margin: 5% auto;
    border-collapse: collapse;
    border: none;
}
tr:nth-child(odd) {
    background-color: #d4d2f1;
  }
tr{
    box-shadow: 0px 0px 5px rgba(178, 164, 211, 0.3);
}